* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(79, 71, 124);
}

button {
  cursor: pointer;

  &:hover {
    filter: brightness(.75);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;


  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;
    gap: 10px;

    .search-input {
      padding: 5px;
    }
    .search-button {
      padding: 5px;
    }
  }

  .digimon-container {
    height: 400px;
    width: 1200px;
    overflow-y: scroll;
    text-align: center;
    cursor: row-resize;


    &::-webkit-scrollbar {
      display: none;
    }

    h1 {
      color: #f3f3f3;
      margin: 10px 0;
    }

    .digimon-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      .digimon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        width: 200px;
        border-radius: 5px;
        background-color: #2b2347;
        color: #f3f3f3;
        padding: 10px;

        h2 {
          font-size: 16px;
        }

        span {
          font-size: 12px;
        }

        img {
          width: 90%;
          border-radius: 50%;
        }
      }
    }

    
  }

  
  
}

